<h2>Purchases File Upload</h2>

<% if @rows[:invalid].empty? %>
  <h4 class="upload_success">Upload success!</h4>
  <p class="grand_total">
    Total Revenue in File:
    <span class="total_revenue">
      <%= number_to_currency (@rows[:valid].collect{ |row| row[:total_amount] }).sum %>
    </span>
  </p>
  <p><%= link_to 'Upload another file', purchases_path %></p>

<% else %>
  <h4 class="upload_failure">Upload failure!</h4>
  <p><%= link_to 'Try again', purchases_path %></p>
<% end %>
